#titre-resa {
  margin: 10px;
}

#un-croissant {
  width: 100%;
  height: 10vh;
  color: white;
  font-size: 35px;
  background-color: #ffd369;
  display: flex;
  justify-content: center;
  align-items: center;
}

#deux-croissants {
  width: 100%;
  height: 10vh;
  color: white;
  font-size: 35px;
  background-color: #e26241;
  display: flex;
  justify-content: center;
  align-items: center;
  }

#trois-croissants {
  width: 100%;
  height: 10vh;
  color: white;
  font-size: 35px;
  background-color: #940a37;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  #plus-croissants {
  width: 100%;
  height: 10vh;
  color: white;
  font-size: 35px;
  background-color: #5b0909;
  display: flex;
  justify-content: center;
  align-items: center;
  }
