.titre-resa h1 {
  color:white;
  background-color: #721b65;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

#form-select {
  margin:10px;
  font-size: 16px;
  height: 96vh;
}

