#container-buttons {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 10px;
  position: absolute;
  width: 100%;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;

}

.home-buttons_go {
  height: 60px;
  width: 120px;
  background-color: #2ECA7E;
  opacity: 0.85;
  color: black;
  padding: 15px;
  border: 2px solid white;
  text-align: center;
}
.home-buttons_reserved{
  height: 60px;
  width: 120px;
  background-color: #F18F01;
  opacity: 0.85;
  color: black;
  padding: 15px;
  border: 2px solid white;
  text-align: center;
}

.btngreen {
  @apply bg-green-500 text-black  py-2 px-4   rounded-md;
  width: 120px;
  height: 60px;
}

.btngreen:hover {
  @apply bg-green-700;
}

.btnyellow {
  @apply bg-yellow-500 text-black  py-2 px-4  rounded-md;
}

.btnyellow:hover {
  @apply bg-yellow-700;
}
.btnred {
  @apply bg-red-500 text-black  py-2 px-4   rounded-md ;
}
.btnred:hover {
  @apply bg-red-700;
}

