.popup_adress {
  position: fixed;
  top: 40vh;
  left: 15vh;
  background-color: white;
  padding: 20px;
}

#logo-img {
  height: 50px;
  width: 50px;
  margin: 8px;
}



.sbg {
  width: 50px;
}

.header {
  display: flex;
  justify-content: center;

}

.bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50vh;
  min-width: 300px;
  height: 70vh;
  margin-top: 0px;
  object-fit: cover;
  background-repeat: no-repeat;
  // background-image: linear-gradient(white, transparent);
  // background: url("https://images.unsplash.com/photo-1534432182912-63863115e106?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}

.position {
  display: none;
}

.bakery-bg {
  padding: 20px;
  margin-top: 120px;

}

.name {
  position: absolute;
  bottom: 100px;
  font-size: 40px;
  font-weight: bold;
  color: black;
  top: 20px;
  left: 20px;
  white-space: normal;

  .h2 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
}
}

.loc {
  position: absolute;
  bottom: 80px;
  font-size: 32px;
  color: black;
  transform: translateX(-50%);
  left: 65px;

}

.position_relative {
  position: relative;
}
// *{
//   border:1px solid red;
// }
.names{
  word-wrap: break-word;
}
// .glide__track{
//   background: linear-gradient(to bottom, blue, white);
// }
