.bg {
  height: 480px;
  background: url("https://images.unsplash.com/photo-1534432182912-63863115e106?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
}

.name {
  position: relative;
  top: 375px ;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.position {
  display: none;
}

.loc {
  position: relative;
  top: 385px ;
  font-size: 16px;
  color: white;
}
