.ordre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.reservation_principale {
  position: absolute;
  width: 320px;
  height: 96px;
  left: 24px;
  top: 100px;
  border: grey solid 1px;
  border-radius: 12px;
  background-color: white;
  z-index: 15;
}

.recapitulatif {
  position: absolute;
  width: 320px;
  height: 96px;
  left: 24px;
  top: 100px;
  border: black solid 1px;
  border-radius: 12px;
  margin-top: 0px;
  background-color: grey;
  transition: margin 0.2s ease

}
.recapitulatif.open {
  margin-top: 70px;
}
