.ordre {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.reservation_principale {
  width: 100%;
  border: grey solid 1px;
  border-radius: 12px;
  margin-top: 10px;
  background-color: white;
  overflow: hidden;

  .main {
    padding: 20px;
  }
}

.recapitulatif {
  background-color: grey;
  transition: max-height 0.5s ease-in-out;
  max-height:0;
}
.recapitulatif.open {
  height: auto;
  max-height:800px;
  transition: max-height 0.5s ease-in-out;
}
