<div class="group22">
  <div class="icon_tf">
    <span class="iconify" data-icon="entypo:home" data-inline="false"></span>
  </div>

  <div class="icon_tf">
    <span class="iconify" data-icon="jam:medal-f" data-inline="false"></span>
  </div>

  <div class="icon_tf">
    <span class="iconify" data-icon="bx:bxs-user" data-inline="false"></span>
  </div>
</div>
