<div class="group22">

  <%= link_to root_path  do %>
    <div class="icon_tf">
      <span class="iconify" data-icon="entypo:home" data-inline="false"></span>
    </div>
  <% end %>

  <%= link_to boulangeries_path  do %>
    <div class="icon_tf">
      <span class="iconify" data-icon="jam:medal-f" data-inline="false"></span>
    </div>
  <% end %>

  <%= link_to "#"  do %>
    <div class="icon_tf">
      <span class="iconify" data-icon="bx:bxs-user" data-inline="false"></span>
    </div>
  <% end %>
</div>
