<div class="group22">

  <div class="icon_tf">
    <%= link_to root_path do %>
      <span class="iconify" data-icon="entypo:home" data-inline="false"></span>
    <% end %>
  </div>

  <div class="icon_tf">
    <%= link_to rank_path do %>
      <span class="iconify" data-icon="jam:medal-f" data-inline="false"></span>
    <% end %>
  </div>

  <div class="icon_tf">
    <%= link_to "#" do %>
      <span class="iconify" data-icon="bx:bxs-user" data-inline="false"></span>
    <% end %>
  </div>

</div>
