<div id="main-navbar">
  <button id="main-navbar-button">
    <span id="navbar-img1" class="iconify" data-icon="openmoji:hamburger-menu" data-inline="false"></span>
    <span id="navbar-img2" class="iconify" data-icon="gridicons:cross" data-inline="false"></span>
  </button>
</div>


<div id="main-navbar-menu">
  <div>
    <span class="main-navbar-icone iconify" data-icon="fa-solid:user-edit" data-inline="false"></span>
    <p>My Profile</p>
  </div>

  <div>
    <span class="main-navbar-icone iconify" data-icon="si-glyph:champion-cup" data-inline="false"></span>
    <p>My Success</p>
  </div>

  <div>
    <span class="main-navbar-icone iconify" data-icon="vs:clip-note-o" data-inline="false"></span>
    <p>My Reservations</p>
  </div>

  <div>
    <span class="main-navbar-icone iconify" data-icon="bx:bx-question-mark" data-inline="false"></span>
    <p>Help</p>
  </div>

  <div>
    <span class="main-navbar-icone iconify" data-icon="ion:log-out-outline" data-inline="false"></span>
    <p>Log out</p>
  </div>

</div>
