<div id="main-navbar">
  <button id="main-navbar-button">
    <span id="navbar-img1" class="iconify" data-icon="openmoji:hamburger-menu" data-inline="false"></span>
    <span id="navbar-img2" class="iconify" data-icon="gridicons:cross" data-inline="false"></span>
  </button>

  <div id="title-navbar" >
    <img id="logo-img" src="https://www.graphicsprings.com/filestorage/stencils/20aa8be06335337213519d0d1a757036.png?width=500&height=500" alt="">
    <p>Pastreat</p>
  </div>

  <div>
    <% if user_signed_in?  %>
      <img class= "img_prof" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1580190984/cxtf662gx7y6toydmobc.jpg" alt="">
    <% end %>
  </div>
</div>


<div id="main-navbar-menu">
  <div>
    <span class="main-navbar-icone iconify" data-icon="fa-solid:user-edit" data-inline="false"></span>
    <p>My Profile</p>
  </div>

  <div>
    <span class="main-navbar-icone iconify" data-icon="si-glyph:champion-cup" data-inline="false"></span>
    <p>My Success</p>
  </div>

  <div>
    <%= link_to reservations_path  do %>
      <span class="main-navbar-icone iconify" data-icon="vs:clip-note-o" data-inline="false"></span>
    <% end %>
    <%= link_to reservations_path  do %>
      <p>My Reservations</p>
    <% end %>

  </div>


  <div>
    <span class="main-navbar-icone iconify" data-icon="bx:bx-question-mark" data-inline="false"></span>
    <p>Help</p>
  </div>

  <div>
    <%= link_to destroy_user_session_path, method: :delete  do %>
      <span class="main-navbar-icone iconify" data-icon="ion:log-out-outline" data-inline="false"></span>
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete  do %>
      <p>Log out</p>
    <% end %>
  </div>

</div>
