<div id="main-navbar">
  <button id="main-navbar-button">
    <img id="navbar-img" src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png"/>
  </button>
</div>

<div id="main-navbar-menu">
  <p>My Profile</p>
  <p>My Succes</p>
  <p>My Reservations</p>
  <p>Help</p>
  <p>Log out</p>
</div>
