<h1>Ratings#new</h1>

<%= simple_form_for [@boulangerie, @rating] do |f| %>
  <%= f.input :star, as: :radio_buttons, collection: [1, 2, 3, 4, 5], :item_wrapper_class => 'inline' %>
  <%= f.button :submit %>
<% end %>
