<div class="">
  <div class="w-full h-64">
    <div style="height: 480px" class="h-full p-6 bg-gray-400 m-8">h-full</div>
  </div>
</div>
<h1><%= user_signed_in? %> </h1>

<%= link_to "Deco", destroy_user_session_path, method: :delete  %>
