<div style="width: 340px; height: 200px;" class="flex">
  <div class="reservation_principale">Lorem ipsum dolor sit amet, consectetur adipisicing elit. In odit corporis magni veniam consequatur.</div>
  <div class="recapitulatif" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus molestias modi aut fuga, odio ea consectetur nihil magni iste! Maiores enim tenetur, quas iste.</div>
</div>
<h1><%= user_signed_in? %> </h1>

<%= link_to "Deco", destroy_user_session_path, method: :delete  %>
