<h1>Reservations#index</h1>
<p>Find me in app/views/reservations/index.html.erb</p
<% @reservations.each do |x| %>
  <p>-----------------------------</p>
  <p><%= x.date %></p>
  <p> <%= x.price %> </p>
  <p> <%= x.nb_pc %> </p>
  <p> <%= x.nb_cr %> </p>
<% end %>
