
<% @reservations.each do |x| %>
<div style="width: 340px; height: 200px;" class="flex">

  <div class="reservation_principale">
    <p><%= x.date %></p>
    <p> <%= x.price %> </p>
  </div>

  <div class="recapitulatif" >
    <p> <%= x.nb_pc %> </p>
    <p> <%= x.nb_cr %> </p>
  </div>
</div>

<% end %>
