<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <% @boulangeries.each do |x|   %>
          <li class="bg h-full position_relative">
            <div data-geolocation>
              <h1 class="fin loc"></h1>
              <p class="pos position"> <%= x.position %></p>
              <div id="container-buttons">
                <%= link_to new_boulangery_reservation_path(x) do %>
                  <div class="home-buttons_reserved">Reserver</div>
                <% end %>
                <a fino href="">
                  <div class="home-buttons_go">GO</div>
                </a>
              </div>
            </div>
            <div class="badge">
            </div>
            <h2> <%= x.average_rating %></h2>
            <div class="names">
              <h2 class="name"></h2>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>


