<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <% @boulangeries.each do |x|   %>
        <li class="bg h-full position_relative">
          <div data-geolocation>
            <h1 class="fin loc"></h1>
            <p class="pos position"> <%= x.position %></p>
            <div id="container-buttons">
              <%= link_to new_boulangery_reservation_path(x) do %>
                <div class="home-buttons">Reserver</div>
              <% end %>
              <a fino href="">
                <div class="home-buttons">GO</div>
              </a>
            </div>
          </div>
          <h2 class="name"><%= x.name %></h2>
        </li>
      <% end %>
    </ul>
  </div>
</div>


