

<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <% lol = 0 %>
      <% @boulangeries.each do |x|   %>
          <li style="" class="bg h-full position_relative" data-boulangerie-id="<%= x.id %>">
            <div data-geolocation>
              <img src="https://cdn2.iconfinder.com/data/icons/dark-action-bar-2/96/refresh-512.png" class="bakery-bg" alt="">
              <h1 class="fin loc"></h1>
              <p class="pos position"> <%= x.position %></p>
              <div id="container-buttons">
                <% if user_signed_in? %>
                  <a reserv href="">
                    <div class="home-buttons_reserved">Reserver</div>
                  </a>
                <% end %>
                <a fino href="">
                  <hr>
                    <%= link_to "GO", visit_boulangery_path(x), remote: true, method: :post, :class => "home-buttons_go" %>
                  <hr>
                </a>
              </div>
            </div>
            <div class="badge">
            </div>
              <h2 class="rating"> <%= x.average_rating %>⭐️</h2>
            <div class="names">
              <h2 class="name"></h2>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>


