<div class="cont1">
  <div class="flex flex-grow justify-center items-center">
    <span class="iconify" data-icon="ant-design:crown-filled" data-inline="false"></span>
    <h1>Ranking</h1>
  </div>
  <% @boulangeries.each_with_index do |x , i| %>
    <div class="cardprincipal">
      <div class="flex ">
        <h1><%= i+1 %></h1>
      </div>
      <div class="flex flex-grow justify-around">
        <h2><%= x.name %> - <%= link_to "Show", boulangery_path(x)  %></h2>
      </div>
      <div>
        <h2> &#x1F950; 1762</h2>
      </div>
    </div>
  <% end %>
</div>
