

<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
      <% lol = 0 %>
      <% @boulangeries.each do |x|   %>
          <% lol += 1 %>
          <% p lol  %>
          <li class="bg h-full position_relative">
            <div data-geolocation>
              <h1 class="fin loc"></h1>
              <p class="pos position"> <%= x.position %></p>
              <div id="container-buttons">
                <% if user_signed_in? %>
                  <a reserv href="">
                    <div class="home-buttons_reserved">Reserver</div>
                  </a>
                <% end %>
                <a fino href="">
                  <div class="home-buttons_go">GO</div>
                </a>
              </div>
            </div>
            <div class="badge">
            </div>
            <h2> <%= x.average_rating %></h2>
            <div class="names">
              <h2 class="name"></h2>
            </div>
          </li>
      <% end %>
    </ul>
  </div>
</div>


