
<div class="bg h-full p-6 m-6 position_relative">
  <div data-geolocation>
    <h1 fin class="loc"></h1>
    <p pos class="position"> <%= @boulangerie.position %></p>
    <div id="container-buttons">
      <div class="home-buttons">Test</div>
      <div class="home-buttons">GO</div>
    </div>
  </div>
  <h2 class="name"><%= @boulangerie.name %></h2>
</div>
