<% content_for :meta_title, "#{@boulangerie.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @boulangerie.description %>
<% content_for :meta_image, cl_image_path(@boulangerie.photo.path) %>

<div class="popup_adress" >
  <p>Je suis là</p>
  <input type="text">
</div>

<div class="bg h-full p-6 m-6 position_relative">
  <div data-geolocation>
    <h1 fin class="loc"></h1>
    <p pos class="position"> <%= @boulangerie.position %></p>
    <div id="container-buttons">
      <div class="home-buttons"><h1>test</h1></div>
      <a fino href=""><div class="home-buttons">GO</div></a>
  </div>
  <h2 class="name"><%= @boulangerie.name %></h2>
</div>
