<h2> Bonjour <%= @boulangerie.name %>,  </h2>

<p>Un client a souhaité réserver des viennoiseries de votre boutique via l'application Pastreat.</p>
<p>Cette réservation est composée de :</p>
<ul>
  <li> 3 croissants </p> </li>
  <li> 2 pains au chocolat  </li>
</ul>

<p>L'entreprise Pastreat vous remercie pour votre confiance et vous souhaite une très agréable journée.</p>
