@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../components/generalcss";
@import "../components/badge";
@import "../components/button";
@import "../components/ranking";
@import "../components/reservation";
@import "../components/card_show";
@import "../components/form_registration";
@import "../components/rating";
// Required Core Stylesheet
@import "@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "@glidejs/glide/src/assets/sass/glide.theme";

.gl-star-rating-text {
  display: none;
}

.gl-star-rating-stars > span {
  height: 35px;
  width: 35px;
  background-size: 35px;
}
