<<<<<<< HEAD
#navbar-img {
  margin: 5px;
  margin-left: 30px;
  height: 80px;
  width: 80px;
}

#main-navbar-menu {
  display: none;
    &.open {
    display: block;
  }
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 95px;
  padding-left: 20px;
  padding-right: 20px;

  > div {
  display: flex;
  border-bottom: solid 1px rgba(21, 19, 19, 0.49);
  width: 100%;
  }
}


.main-navbar-icone {
  height: 40px;
  width: 40px;
  margin:10px;
}

#main-navbar-menu p {
  padding: 10px;
  font-size: 30px;
  font-weight: lighter;
}

=======
// .navbar-lewagon {
//   justify-content: space-between;
//   background: white;
// }

// .navbar-lewagon .navbar-collapse {
//   flex-grow: 0;
// }

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
>>>>>>> 66b6aeb0c0750cd36122496d40b0f19ea9b530cb
