#navbar-img {
  margin: 5px;
  margin-left: 10px;
  height: 40px;
  width: 40px;
}

#main-navbar-menu {
  display: none;
    &.open {
    display: block;
  }
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 53px;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 100000;

  > div {
  display: flex;
  border-bottom: solid 1px rgba(21, 19, 19, 0.49);
  width: 100%;
  padding-left: 20px;
  padding-bottom: 0px;
  }
}

.main-navbar-icone {
  height: 24px;
  width: 24px;
  margin:10px;
  color: rgba(0, 0, 0, 0.75);
}

#main-navbar-menu p {
  padding: 10px;
  font-size: 16px;
  font-weight: lighter;
}
